.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
}


.drawer{
    position: fixed;
    box-sizing: border-box;
    right: 0;
    top: 0;
    width: 40vw; 
    height: 100vh; 
    padding: 1em;
    padding-top: 5em;
    background: var(--Off-White);
    transition: width 0.2s ease;
}

@media (max-width: 45em) {
  .drawer {
    width: 100vw;
  }
}
